* {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #32353a;
    margin: 0;
    padding: 0;
}

a {
    color: #e9e2bf;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 0 40px;
}

h1 {
    margin: 36px 0;
    font-size: 36px;
    line-height: 42px;
}

h2 {
    margin: 24px 0;
    font-size: 24px;
    line-height: 28px;
}

h3 {
    margin: 18px 0;
    font-size: 18px;
    line-height: 20px;
}

.visually_hidden {
    visibility: hidden;
    display: none;
}

/*

 Nav content /////////////////////////////////////////////////////////////////

*/

.support_header {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #32353a;
    height: 70px;
}

.main_header {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(50, 53, 58, 0.8);
    color: #aaaaab;
    position: fixed;
    z-index: 101;
}

.main_nav {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 0 0 70px;
    background-color: rgba(50, 53, 58, 0.1);
}

.site_nav {
    margin: 0 auto;
    padding: 0;
    align-items: center;
    display: flex;
}

.site_nav-logo {
    padding: 0 20px 0 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 75px;
}

.site_nav-item {
    padding: 0 20px;
    margin: 0;
    height: 70px;
}

.site_nav-link {
    display: flex;
    height: 100%;
    align-items: center;
}

.user_nav {
    margin: 0 auto;
    padding: 0 40px;
    align-items: center;
    display: flex;
}

.user_nav-item {
    padding: 0 20px;
    margin: 0;
    height: 70px;
}

.user_nav-link {
    display: flex;
    height: 100%;
    align-items: center;
}

.site_nav a:hover,
.user_nav a:hover {
    color: #f2b31b;
}

.site_nav a:focus,
.user_nav a:focus {
    color: white;
}

.site_nav a,
.user_nav a {
    color: #aaaaab;
}

/*

 Nav content

/////////////////////////////////////////////////////////////////////////////

 Video content

 */

.video_container {
    background-image: url("../img/witcherPoster.webp");
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    min-width: 700px;
}

.video_container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 53, 58, 0.7);
    z-index: 2;
}

.logo_company_film {
    position: absolute;
    top: 0;
    z-index: 3;
}

.video_bg {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.top_button-wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    height: 30%;
    min-width: 300px;
}

.top_button-link {
    display: flex;
    align-content: center;
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: 3;

}

.top_button-text:hover {
    background-color: #ff7e00;
    color: white;
}

.top_button-text {
    display: flex;
    padding: 10px 40px;
    background-color: #f25322;
    color: #e9e2bf;
}

.date_heading {
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 0;
    margin: 0;
    bottom: 0;
    height: 23%;
    min-width: 300px;
    z-index: 3;
}

.date_text {
    font-size: 18px;
    line-height: 20px;
    color: #e9e2bf;
}

/*

 Video content

 /////////////////////////////////////////////////////////////////////////////////////

 News content

 */

.shadow {
    width: 100%;
    min-width: 700px;
    padding: 0;
    margin: 0;
    height: 20px;
    box-shadow: 0 -10px 15px 5px #32353a;
    position: relative;
    z-index: 4;
}

.header_news {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0 auto;
    min-width: 700px;
    max-width: 1300px;
}

.header_news-wrapper {
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.header_news-item {
    padding: 0 20px;
}

.all_news {
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
    min-width: 700px;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.last_news-big {
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #b7b29d;
    margin-right: 20px;
    padding-right: 20px;
    max-width: 380px;
    z-index: 1;
}

.last_news-big a {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 380px;
    background-color: black;
    margin: 0 0 20px 0;
}

.img_Witcher {
    position: relative;
    display: flex;
    flex: 0 0 100%;
    z-index: 1;
}

.last_news-big::before {
    content: '';
    display: block;
    position: absolute;
    top: 230px;
    left: 0;
    width: 359px;
    height: 10px;
    box-shadow: 0 -15px 6px -1px black;
    z-index: 2;
}

.news_big-text {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 20px;
}

.last_news-big a > h3:hover {
    color: white;
}

.news_big-textP {
    font-size: 13px;
    padding: 20px;
    margin: 0;
}

.last_news_container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
    border-right: 1px solid #b7b29d;
    margin-right: 20px;
    padding-right: 20px;
}

.last_news-small {
    display: flex;
    max-width: 380px;
}

.last_news-text {
    display: flex;
    max-width: 200px;
    padding: 0 0 0 20px;
    flex-wrap: wrap;
}

.last_news-text p {
    font-size: 12px;
    line-height: 18px;
    color: #a29e87;
}

.last_news-text h3 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.last_news-text h3:hover {
    color: white;
}

.last_news-text-big h3 {
    padding: 20px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.last_news-text-big h3:hover {
    color: white;
}

.last_news-text-big > a > p {
    margin: 0 auto;
    padding: 0 0 20px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #a29e87;
}

.last_news a {
    color: #f25322;
    padding: 20px;
}

.header_news h2 {
    color: #e9e2bf;
}
.header_news a:hover {
    color: #ff7e00;
}

.header_news a {
    color: #f25322;
}

/*

 News content

 /////////////////////////////////////////////////////////////////////////////

 Trailers content

*/


.trailers {
    margin: 0 auto;
    padding: 0 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 700px;
    max-width: 1300px;
}

.trailers_all {
    padding: 0;
    display: flex;
    min-width: 400px;
    max-width: 1300px;
    flex-wrap: wrap;
}

.trailer {
    display: flex;
    border-right: 1px solid #b7b29d;
    padding: 0 20px 20px 20px;
    max-width: 400px;
    flex-wrap: wrap;
}

.trailer_big-text {
    background-color: black;
    box-shadow: 0 -13px 10px 0 black;
    position: relative;
    width: 100%;
}

.trailer_big-text h2 {
    color: #e9e2bf;
    margin: 20px;
}

.main_content-wrapper {
    padding: 0 0 20px 0;
}

.video {
    position: relative;
    width: 400px;
    padding-bottom: 56.25%;
    background-color: #000000;
}

.video__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
}

.video__button-icon {
    fill: #ffffff;
}

.video__button:focus {
    outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
}

/* Enabled */

.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}

/*

 Trailers content

 ///////////////////////////////////////////////////////////////////////////////////

 Footer content

 */

.footer_social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 700px;
    background-color: black;
}

.footer_heading {
    display: flex;
    flex: 1 1 100%;
}

.footer_heading p {
    display: flex;
    color: #e9e2bf;
    margin: 0 auto;
    padding: 20px;
}

.social_networks {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.social_link {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #464646;
    border-bottom: 2px solid #464646;
    font-weight: normal;
}

.social_link a {
    display: flex;
    align-items: center;
    padding: 20px;
}

.social_link a > img {
    padding: 0 10px;
}

.social_link > a:hover {
    color: white;
}

.social_link {
    padding: 0 20px;
}

.footer_bottom {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #464646;
    font-size: 12px;
    line-height: 28px;
    width: 100%;
    min-width: 700px;
}

/*

    Footer content

    //////////////////////////////////////////////////////////////////////////////////

    Modal window

 */

.modal_login {
    display: none;
    position: fixed;
    color: #e9e2bf;
    background-color: rgba(0, 3, 8, 0.9);
    border: 1px solid #aaaaab;
    width: 600px;
    margin-left: -300px;
    padding: 50px 80px;
    top: 120px;
    left: 50%;
    z-index: 101;
}

.modal_login-show {
    display: block;
}

.modal_login h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 42px;
}

.modal_login-close {
    position: absolute;
    background-color: transparent;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
}

.modal_login-close::before,
.modal_login-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: #e9e2bf;
}

.modal_login-close::before {
    transform: rotate(45deg);
}
.modal_login-close::after {
    transform: rotate(-45deg);
}

.modal_description {
    margin: 0 0 20px 0;
}

.login_form p {
    margin: 0 0 20px 0;
}

.login_form input[type="text"],
.login_form input[type="password"] {
    width: 450px;
    padding: 10px 40px 15px 15px;
    font: inherit;
    color: #e9e2bf;
    background-color: black;
    border: 1px solid #aaaaab;
}

.login_help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}

.login_checkbox {
    position: relative;
    cursor: pointer;
}

.checkbox {
    width: 11px;
    height: 11px;
    border: 1px solid #aaaaab;
}

.login_checkbox:hover,
.login_checkbox:focus {
    color: white;
}

.restore {
    color: #f25322;
}

.restore:hover,
.restore:focus {
    color: #f2b31b;
    text-decoration: underline;
}

.button {
    flex: 0 0 180px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #f25322;
    color: #e9e2bf;
}

.button:hover {
    background-color: #ff7e00;
    color: white;
}

.button_wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
}